doctype html
html(lang="en")
  head
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' asset:">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self' asset:">
    title= "About"
    include includes/head.pug
  body
    h1 About World!